{
    "presets": ["next/babel"],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": "css"  // 可能 minicss 会有bug
            }
        ],[
            "styled-components", {
                "ssr": true
            }
        ]
    ]
}